@font-face {
    font-family: "Pyidaungsu";
    src: url("/report_myanmar_text_v15/static/src/fonts/Pyidaungsu.ttf") format("truetype");
}

.header {
    font-family: "Pyidaungsu";
}

.page {
    font-family: "Pyidaungsu";
}

.footer {
    font-family: "Pyidaungsu";
}

div {
    font-family: "Pyidaungsu";
}
